/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-size: 20px;
  color: #23272a;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.debug {
  border: 1px solid black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Header */

header {
  background-color: rgba(49, 97, 224, 255);
  height: 80px;
  line-height: 80px;
  position: relative;
}

nav .logo,
nav .ul {
  float: left;
  margin-left: 10%;
}

nav .logo img {
  vertical-align: middle;
}

nav .logo {
  width: 15%;
}

nav ul {
  list-style-type: none;
  width: 70%;
  text-align: center;
  display: inline;
  color: white;
}

nav ul li {
  display: inline-block;
  margin-left: 3%;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  border-radius: 40px;
  padding: 16px 32px;
  background-color: #8ea1e1;
  color: #fff;
  text-decoration: none;
}

#accedi {
  float: right;
  width: 15%;
}

#accedi .btn {
  padding: 10px 14px;
  background-color: #fff;
  font-size: 14px;
  color: #23272a;
  display: inline;
}

#white-black.btn {
  color: #23272a;
  background-color: #fff;
  margin-right: 3%;
}

#black-white.btn {
  background-color: #23272a;
  color: #fff;
}

.wave {
  color: #e5e5e5;
}

.wave-rotate {
  color: #e5e5e5;
  transform: rotate(180deg);
}

/* Jumbotron */

#jumbotron h1 {
  font-size: 60px;
  margin-top: 50px;
}

#jumbotron {
  min-height: 546px;
  background-image: url("../img/jumbo.png");
  background-size: cover;
}

#jumbotron .container {
  max-width: 780px;
  text-align: center;
  color: #ffffff;
  padding-top: 80px;
}

#jumbo-text {
  margin-top: 35px;
  margin-bottom: 15px;
  line-height: 32px;
}

/* Main sections */

.main-section {
  min-height: 750px;
  background-color: white;
}
.mid {
  background-color: #e5e5e5;
}

.main-section .container {
  max-width: 80%;
  color: black;
  padding-top: 100px;
}

.main-section img {
  display: inline;
  position: relative;
  left: 10%;
}

.text-wrap {
  max-width: 25%;
  max-height: 50%;
  float: right;
  position: relative;
  right: 10%;
  margin-top: 2%;
}

.section-text {
  margin-top: 35px;
  margin-bottom: 15px;
  line-height: 32px;
}

.text-wrap > h1 {
  font-size: 50px;
  font-weight: bold;
}

.text-wrap-middle {
  max-width: 25%;
  max-height: 50%;
  float: left;
  position: relative;
  left: 10%;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 5%;
}

.text-wrap-middle > h1 {
  font-size: 50px;
  font-weight: 700;
}

.fourth-section {
  min-height: 900px;
  background-color: #e5e5e5;
}

.fourth-text-wrap {
  max-width: 65%;
  max-height: 30%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
}

.fourth-text-wrap > h1 {
  font-size: 50px;
  font-weight: 700;
}

#fourth-img {
  margin: auto;
  width: 50%;
  height: 80%;
  object-fit: cover;
  transform: translate(0%, 0%);
}

#adventure {
  width: 40%;
  height: 60px;
  margin: 0 auto;
  padding-top: 10px;
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#adventure > p {
  font-size: 30px;
  font-weight: 700;
  margin-left: 10%;
}

#btn-bottom {
  width: 20%;
  height: 100%;
  padding-top: 5px;
  align-content: center;

  margin: auto;
  margin-bottom: 10%;
}

/*arrow */

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Footer */

footer {
  background-color: #23272a;
  height: 800px;
  width: 100%;
}

.footer-container {
  margin: 0 auto;
  width: 80%;
  padding-top: 70px;
  border-bottom: 1px solid #7289da;
  height: 500px;
}

.left-col {
  width: 30%;
  height: 100%;
  float: left;
  display: inline-block;
}

.right-col {
  width: 20%;
  height: 80%;
  display: inline-block;
}

footer h4 {
  color: #7289da;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 30px;
}

footer h3 {
  color: #7289da;
  font-weight: bolder;
  font-size: 15px;
  line-height: 25px;
}

footer ul {
  list-style: none;
  padding: 10px 0;
}

footer ul li {
  padding: 8px 0;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer span {
  color: white;
}

.flag {
  width: 24px;
  height: 16px;
}

.social {
  margin-top: 10px;
}

.social ul {
  padding-left: 0;
}

.social ul li {
  display: inline;
  list-style: none;
  margin: 0 10px;
}
